* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 18px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.heroSection {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 8px;
}

.heroCol1 {
    width: 500px;
    
}

.heroCol1 h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.heroCol1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.heroBtn {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border: 0px;;
    border-radius: 0.5em;
}

.heroCol2 {
    display: flex;
    flex-shrink: 2;
    
}

.placeHolder {
    
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    flex-wrap: nowrap;
}



.section2 {

}

.section3 {

}

.section4 {

}

.footer {
    background-color: #1F2937;

}