* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 18px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.heroSection {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 80px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 8px;
}

.heroCol1 {
    width: 500px;
    
}

.heroCol1 h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.heroCol1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.heroBtn {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border: 0px;;
    border-radius: 0.5em;
}

.heroCol2 {
    display: flex;
    flex-shrink: 2;
    
}

.placeHolder {
    
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    flex-wrap: nowrap;
}



.section2 {
    display: flex;
    flex-direction: column;
}

.sec2head {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.sec2content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 54px;
}

.sec2items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
}

.sec2imgs {
    border-radius: 0.5em;
    height: 150px;
    width: 150px;
    outline: 4px solid #3882F6;
}

.sec2txt {
    color: #1f2937;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;

}

.sec3content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.ref {
    align-self: flex-end;
    font-weight: bold;
}

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec4container {
    display: flex;
    flex-direction: row;
    padding: 40px 180px;
    margin: 100px 150px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    row-gap: 20px;
}

.sec4col1 {
    display: flex;
    flex-direction: column;
}
.sec4col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec4btn {
    margin-left: 250px;
    color: #F9FAF8;
    outline: 4px solid #F9FAF8;
    border-radius: 0.5em;
    background-color: #3882f6;
    border: 0;
    padding: 3px 20px;
}

.footer {
    background-color: #1F2937;

}